@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
	margin: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* Letters */
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End Letters */

/* "Republican ticket" */
#chapter-20 blockquote{
	text-align: center;
}

#chapter-20 blockquote ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: initial;
	vertical-align: top;
}

#chapter-20 blockquote > ul{
	display: inline-block;
	margin: 0 1em 0 1em;
}

#chapter-20 blockquote > ul > li ul{
	margin-bottom: 1em;
	margin-left: 2em;
}

#chapter-21 > blockquote:first-of-type{
	text-align: center;
}

/* "The End" in small caps */
#chapter-22 footer{
	font-variant: small-caps;
	text-align: center;
	text-transform: lowercase;
}
